/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind components;
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
 /* @tailwind variants */


 /* Configure background image inside hero section desktop */
 #hero {
    background-image: url('/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

 /* Screen Media Quries */
 @media (max-width: 576px) {
    /* Swicth to mobile image on small screens */
    #hero {
        background-image: url('/images/mobile/image-hero.jpg');
        background-position: center;
    }
    #feature-image {
        
    }

 }

 .section-container {
    @apply flex flex-col items-center justify-center px-6
 }